<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510392123972-s5h3pa0afoq99u6v23ivqi85fkujruae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510392123972-s5h3pa0afoq99u6v23ivqi85fkujruae</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510392123972-on6ljnk1ev1cohkoj75cr5ej3eak3ggg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZE3uVcUHTUy74_LPvnwqlXdpMlvZU0Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>510392123972</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastclaim</string>
	<key>PROJECT_ID</key>
	<string>victoria-hsjxac</string>
	<key>STORAGE_BUCKET</key>
	<string>victoria-hsjxac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510392123972:ios:1ccbb6fca7a2e731513211</string>
	<key>DATABASE_URL</key>
	<string>https://victoria-hsjxac.firebaseio.com</string>
</dict>
</plist>